body {
    font-family: cursive;
    text-align: center;
    color: #90bb65;
    background-color: black;
}

fieldset {
    width: 0;
    margin: 0 auto;
    text-align: 5%;
    border-radius: 15px;
    border-color: #80ff00;
    border-width: 7px;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 15px #80ff00;
    animation: sombra 2s ease-out alternate infinite;
}

@keyframes sombra {
    0% {
        box-shadow: 0 0 15px #33ff00;
    }

    25% {
        box-shadow: 0 0 15px #ffe600;
    }

    50% {
        box-shadow: 0 0 15px #ff9100;
    }

    75% {
        box-shadow: 0 0 15px #ff0000;
    }

    100% {
        box-shadow: 0 0 15px #e100ff;
    }

}

.e1 {
    width: 170px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 2px;
}

#profissao {
    margin-top: 15px;
    padding: 12px; 
}

#Empreendedor, #Programador, #Filosófo {
    cursor: pointer;
}

#experiencia {  
    font-family: cursive;
}

button {
    border-radius: 20px;
    border-color: #90bb65;
    margin-top: 10px;
    padding: 4px;
    width: 20%;
    font-family: cursive;
    cursor: pointer;
}

button:hover {
    color: #90bb65;
    box-shadow: 0 0 8px #90bb65;
    
}
